---
---

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}

@media screen and (max-width: 600px) {
  div h1{
    font-size: 32pt;
  }
}

@media screen and (max-width: 600px) {
  div h2{
    font-size: 16pt;
  }
}

@media screen and (max-width: 600px) {
  .mother-text p {
    font-size: 14pt !important;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    display: flex;
  }
}

.row {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

html {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
}

body {
  align-items: center;
  text-align: center;
  background-color: #efdcf7;
  font-family: monospace;
  height: 100%;
  margin: 0;
}

main {
  margin: 0 auto;
}


h1 {
  font-weight: bold;
  color:#93409D;
  font-family: 'Nunito';
  font-size: 40pt;
  line-height: 128%;
}

h2 {
  font-weight: bold;
  color:#ffffff;
  font-family: 'Nunito';
  font-size: 32pt;
  line-height: 128%;
}

label {
  display: none;
}

input[type="email"] {
  background-color: white;
  border: 1px solid #404040;
  color: #404040;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 1rem .5rem;
  width: 96%;
}

#fb-group-btn, input[type="submit"] {
  background-color: #FF0A0A;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 1rem .5rem;
  width: 96%;
  text-decoration: none;
  border:none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a[href$='privacy'] {
  bottom: 2rem;
  color: black;
  position: absolute;
  left: 45%;
}

#privacypolicy {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color:lightgrey;
}

/* selected link */
a:link, a:active, a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

#logo {
  display: flex;
  padding: 2rem;
}

#logo img {
  width:100%;
}

#action {
  padding: 2rem;
}

#mc_embed_signup {
  width: 100%;
  padding-top: 2rem;
}

#screenshot {
  padding: 2rem;
  background-color: #6174EB;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  #screenshot {
    background-color: #efdcf7;
  }
}

#iphone-mockup {
  height: 64vh;
}

@media screen and (min-width: 1200px) {
  #iphone-mockup {
    float: left;
  }
}

.mother-image {
  background-image: url("/images/mother.jpg");
  background-color: #E87DC4;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mother-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mother-text p {
  color:#ffffff;
  font-family: 'Nunito';
  font-size: 16pt;
  line-height: 128%;
  margin-top: 1rem;
}

.button {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 1rem;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.button a {
  color: white !important;
  text-decoration: none;
}

#socialmedia {
  padding: 1rem;
}

#socialmedia img {
  height: 4vh;
  margin: 8px;
}

#socialmedia a {
  font-size: 12pt;
  font-family: 'Nunito';
  font-weight: bold;
  color: #93409D;
  text-decoration: none;
}
