<!doctype html>
<html lang='en'>

<head>
  <title>{{ site.title }}</title>
  <link rel='stylesheet' href={{ '/css/main.css' | prepend: site.url }}>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% include social-headers.html %}
</head>

<body>

  {{ content }}
  <div id="screenshot">
    <img src={{ '/images/iphone.png' | prepend: site.url }} id="iphone-mockup" />
  </div>
  <script src={{ '/scripts/main.js' | prepend: site.url }}></script>
</body>

</html>