---
layout: signup
---

<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6'  id='action'>
    <a name='access'></a>
    <div class='row' id='logo'>
      <img src='{{ site.logo | prepend: site.url }}' alt='logo'>
    </div>
    <div class='row' id="thankyou">
     <h1>
        <span class="label">Thank you</span>
        <span>for subscribing!</span>
      </h1>
    </div>
  </div>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3' id='screenshot'>
    <img src='./images/iphone.png' id='iphone-mockup' />
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='mother-image'>
      <div class='mother-text'>
        <h2>We believe the best care for pregnancy is a woman's voice.</h2>
        <p>We want to empower every woman and baby in the world to have autonomy with safe and quick access to a maternal healthcare professional.</p>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div id='socialmedia'>
      <img src='./images/Instagram.png' alt='Instagram'>
      <div class='row'>
        <a href='https://www.instagram.com/storkchat/?igshid=1xpze75ubqsks' {{site.instagram}} target='_blank'>
          Follow us on Instagram!
        </a>
      </div>
    </div>
  </div>
</div>
